[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
jupyter = "*"
seaborn = "*"
pandas = "*"
networkx = "*"
nose = "*"
pyterrier = "*"
torch = "*"
torchtext = "*"
cython = "*"
cythongsl = "*"
pyarrow = "*"
trectools = "*"
pyterrier_t5 = "*"
statsmodels = "*"

[dev-packages]

[requires]
python_version = "3.8"
